.row.mx-auto#widget-header-info.pb-3
    .col-xl-6.mx-auto.text-center
        .display-4.widget-title ROI Calculator
        p.mb-0.section-title Calculate the projected ROI for an incentive program.
        // Button trigger modal
        include ./modals/instructions.pug
                     
